* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.filter {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

#getMovieBtn {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#getMovieBtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;

    a {
        text-decoration: none;
    }
}

#getMovieBtn:active {
    transform: scale(0.98);
    background-color: #004080;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result.show {
    animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    select, #getMovieBtn {
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }
}


/* Стиль для кнопок */
.mode-selection a {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.mode-selection a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


